

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отправка сообщения пользователям</title>
</head>
<body>
    <h1>Отправить сообщение пользователям</h1>
    <form action="{% url 'send_broadcast' %}" method="post">
        {% csrf_token %}
        
        <br>
        <label for="message_text">Текст сообщения:</label>
        <textarea id="message_text" name="message_text" required></textarea>
        <br>
        <button type="submit">Отправить сообщение</button>
    </form>
</body>
</html>